<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title + " | toheeb.com" }}</title>

    <meta name="description" content="{{ description }}" />

    <link
      rel="canonical"
      href="{{ canonical if canonical else site.url + page.url }}"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@toheeb/prose@0.2.0/index.min.css">
    
    <script
      defer
      src="https://analytics.eu.umami.is/script.js"
      data-website-id="ee6b55fc-1b3e-49db-a773-19541eb400b5"
    ></script>

    <link rel="stylesheet" href="/en/base.css" />
    <link rel="stylesheet" href="/en/site.css" />

    {{ style | safe }}
  </head>

  <body>
    <div class="window-primary">
      <main>
        {% if siteNav !== false %} {% include './site-nav.html' %} {% endif %}

        <section>
          {{ content | safe }}
        
          {% if book === 'hc' and hcNav !== false %}
            {% include './html-book-pagination.njk' %}
          {% endif %}
          
        </section>
        
        {% include './site-footer.njk' %}
      </main>
    </div>
  </body>
</html>
