<nav class="site-nav">
  <a href="/en/">Home</a>
  <!-- <h1>TO</h1>

  <p class="sr-only">Building the future of a self-sufficient web</p>

  <p class="site-nav__links">
    {% for anchor in site.menu %} {% if page.url === anchor.url %} {% set
    hrefValue = "#" %} {% set isCurrentPage = 'aria-current=page' %} {% else %}
    {% set hrefValue = anchor.url %} {% set isCurrentPage = '' %} {% endif %}

    <a href="{{ hrefValue }}" {{isCurrentPage}}> {{- anchor.label -}} </a>
    {% endfor %}
  </p> -->
</nav>
