<footer>
  <p>
    <a href="/en/designer/">{{site.designer}}</a> is reforming the World Wide Web from Nigeria <a href="https://github.com/toheeb/">in the open.</a> Kindly support my dead-broke ass with a <a href="https://ko-fi/olaabiyi">donation</a> or a <a href="/en/studio/">gig.</a>
  </p>
</footer>
