
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-nav {
  display: grid;
  gap: 1em;
}

.site-nav > h1 {
  font-variant: all-small-caps;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0;
  font-size: 1.25em;
  font-weight: 900;
  max-width: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  place-items: center;
}

.site-nav > h1::before,
.site-nav > h1::after {
  content: "";
  height: 0.8em;
  width: 1px;
  background-color: #777;
}

.site-nav h2 {
  font-size: 1.1em;
  margin: 3em 0 1em;
}

.site-nav h2 cite {
  font-style: normal;
}

.site-nav__links {
  --link-width: 9em;

  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 1.25em;
  text-align: center;
  font-variant: all-small-caps;
  letter-spacing: 0.05em;
  line-height: 1;

  width: 100%;
  max-width: calc(2 * var(--link-width));
}

.site-nav__links > * {
  text-indent: var(--link-cue-size);
  flex: 0 1 var(--link-width);
}

.site-nav__links > [aria-current="page"] {
  order: 3;
}

@media screen and (min-width: 320px) {
  .site-nav > h1::before,
  .site-nav > h1::after {
    height: 1.6em;
  }

  .site-nav__links {
    margin: -2.5em auto 0;
  }
}

main > footer {
  margin: 8rem auto 0;
  font-size: .875em;
}








.toc__category-title-list {
  padding: 0;
  list-style: square inside;
  width: 100%;
  margin: 0.5em auto 0;
}

.toc__category-title-list > li::marker {
  font-size: .75em;
}

.toc__category-title {

  display: flex;
  gap: .5em;
  align-items: baseline;

  /* remove width of ::marker so ::marker flows to the right of the float */
  width: calc(100% - 2.8ch);
  float: left;

  margin: 0 0 .75em;
  box-sizing: border-box;
  padding: 0 1ch 0 0;

  font-variant: all-small-caps;
  letter-spacing: .05em;
}

.toc__category-title::after {
  content: '';
  flex: auto;
  border-bottom: 1px dashed #ccc;
}


.toc__title-list {
  margin: 0 0 .75em .5em;
  padding: 0;
  list-style: decimal-leading-zero inside;

  /* clears the floated category paragraph that introduces the list */
  clear: left;
}


/* clears each floated paragraph within the list item */
.toc__title-list > li::after {
content: '';
clear: both;
display: table;
}

.toc__title-list > li::marker {
  font-size: .75em;
}

.toc__title {
  margin: 0 0 .75em;
}


@media screen and (min-width: 280px) {

  .toc__title {
    float: left;
    width: calc(100% - 3ch);
    padding: 0 1ch 0 0;
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
  }

  .toc__title::after {
      content: '';
      flex: auto;
      border-bottom: 1px dashed #ccc;
  }

}

